/****** Object:  Table [dbo].[api_ejercicio_rutinaguardada]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[api_ejercicio_rutinaguardada](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha_guardado] [datetimeoffset](7) NOT NULL,
	[perfil_id] [bigint] NOT NULL,
	[rutina_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALENDARIO_RUTINA]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALENDARIO_RUTINA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORA] [time](7) NULL,
	[COMPLETADA] [bit] NOT NULL,
	[NOTAS] [nvarchar](max) NULL,
	[PERFIL_ID] [bigint] NOT NULL,
	[RUTINA_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMENTARIO] [nvarchar](max) NOT NULL,
	[FECHA_CREACION] [datetimeoffset](7) NOT NULL,
	[PUBLICACION_ID] [int] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMENTARIO_REPORTE]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIO_REPORTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[motivo] [nvarchar](max) NOT NULL,
	[fecha] [datetimeoffset](7) NOT NULL,
	[comentario_id] [int] NOT NULL,
	[perfil_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACTO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[CORREO] [nvarchar](254) NOT NULL,
	[ASUNTO] [nvarchar](150) NOT NULL,
	[MENSAJE] [nvarchar](max) NOT NULL,
	[FECHA_ENVIO] [datetimeoffset](7) NOT NULL,
	[VIGENTE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EJERCICIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EJERCICIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NOT NULL,
	[VIDEO_URL] [nvarchar](100) NULL,
	[FECHA_CREACION] [datetimeoffset](7) NOT NULL,
	[VIGENTE] [bit] NOT NULL,
	[MUSCULO_ID] [int] NOT NULL,
	[TIPO_EJERCICIO_ID] [int] NOT NULL,
	[NIVEL_DIFICULTAD_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTILO_VIDA_USUARIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTILO_VIDA_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIVEL_ESTRES] [nvarchar](30) NULL,
	[HORAS_SUENO] [float] NULL,
	[CALIDAD_SUENO] [nvarchar](20) NULL,
	[ALIMENTACION] [nvarchar](50) NULL,
	[ACTIVIDAD_LABORAL] [nvarchar](50) NULL,
	[ENTORNO_ENTRENAMIENTO] [nvarchar](50) NULL,
	[FRECUENCIA_ENTRENAMIENTO] [nvarchar](30) NULL,
	[FECHA_ACTUALIZACION] [datetimeoffset](7) NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITO_PUBLICACION]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITO_PUBLICACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_AGREGADO] [date] NOT NULL,
	[PUBLICACION_ID] [int] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_ENTRENAMIENTO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_ENTRENAMIENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NOT NULL,
	[FECHA_CREACION] [date] NOT NULL,
	[VIGENTE] [bit] NOT NULL,
	[PERFIL_CREADOR_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_MIEMBRO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_MIEMBRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROL] [nvarchar](30) NOT NULL,
	[FECHA_INGRESO] [date] NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[GRUPO_ENTRENAMIENTO_ID] [int] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_MEDIDAS]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_MEDIDAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GRASA_CORPORAL] [float] NULL,
	[MASA_MUSCULAR] [float] NULL,
	[CINTURA_CM] [float] NULL,
	[CADERA_CM] [float] NULL,
	[PROGRESO_USUARIO_ID] [int] NOT NULL,
	[PERFIL_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIKE]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIKE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetimeoffset](7) NOT NULL,
	[PUBLICACION_ID] [int] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJE_PRIVADO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJE_PRIVADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENIDO] [nvarchar](max) NOT NULL,
	[FECHA_ENVIO] [datetimeoffset](7) NOT NULL,
	[LEIDO] [bit] NOT NULL,
	[EMISOR_ID] [bigint] NOT NULL,
	[RECEPTOR_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSCULO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSCULO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NIVEL_DIFICULTAD]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIVEL_DIFICULTAD](
	[DIFICULTAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DIFICULTAD_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICACION]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
	[MENSAJE] [nvarchar](255) NOT NULL,
	[LEIDA] [bit] NOT NULL,
	[FECHA] [datetimeoffset](7) NOT NULL,
	[PERFIL_DESTINO_ID] [bigint] NOT NULL,
	[PERFIL_ORIGEN_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUTRICION_REGISTRO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRICION_REGISTRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[COMIDA] [nvarchar](100) NOT NULL,
	[CALORIAS] [float] NULL,
	[PROTEINAS] [float] NULL,
	[CARBOHIDRATOS] [float] NULL,
	[GRASAS] [float] NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJETIVO_USUARIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJETIVO_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[META_PESO_KG] [float] NULL,
	[META_GRASA_CORPORAL] [float] NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_META] [date] NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[TIPO_OBJETIVO_ID] [int] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPINION]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPINION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CONTENIDO] [nvarchar](max) NOT NULL,
	[FECHA_CREACION] [datetimeoffset](7) NOT NULL,
	[VIGENTE] [bit] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TELEFONO] [nvarchar](30) NULL,
	[DIRECCION] [nvarchar](255) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[VIGENTE] [bit] NOT NULL,
	[FOTO] [nvarchar](100) NULL,
	[SALUD_USUARIO_ID] [int] NULL,
	[GENERO] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL_groups]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[perfil_id] [bigint] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL_user_permissions]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[perfil_id] [bigint] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRESO_EJERCICIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRESO_EJERCICIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[REPETICIONES_REALIZADAS] [int] NULL,
	[PESO_USADO] [float] NULL,
	[DURACION_MINUTOS] [float] NULL,
	[EJERCICIO_ID] [int] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRESO_USUARIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRESO_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PESO_KG] [float] NULL,
	[ALTURA_CM] [float] NULL,
	[COMENTARIO] [nvarchar](max) NULL,
	[IMC_CALCULADO] [float] NULL,
	[FECHA] [date] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICACION]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENIDO] [nvarchar](max) NOT NULL,
	[MEDIA_URL] [nvarchar](100) NULL,
	[FECHA_CREACION] [datetimeoffset](7) NOT NULL,
	[ULTIMA_ACTUALIZACION] [datetimeoffset](7) NOT NULL,
	[VIGENTE] [bit] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECOMENDACION_IA]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECOMENDACION_IA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RUTINA_RECOMENDADA] [nvarchar](120) NOT NULL,
	[TOP3_RECOMENDACIONES] [nvarchar](max) NULL,
	[EJERCICIOS] [nvarchar](max) NULL,
	[PARAMETROS_ENTRADA] [nvarchar](max) NULL,
	[MODELO_VERSION] [nvarchar](50) NOT NULL,
	[PRECISION_MODELO] [float] NULL,
	[FECHA_RECOMENDACION] [datetimeoffset](7) NOT NULL,
	[ESTADO] [nvarchar](30) NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTINA]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTINA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[FECHA_CREACION] [datetimeoffset](7) NOT NULL,
	[VIGENTE] [bit] NOT NULL,
	[NIVEL_DIFICULTAD_DIFICULTAD_ID] [int] NOT NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTINA_EJERCICIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTINA_EJERCICIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REPETICIONES] [int] NULL,
	[ORDEN] [int] NULL,
	[EJERCICIO_ID] [int] NOT NULL,
	[RUTINA_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALUD_USUARIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALUD_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FRECUENCIA_CARDIACA_REPOSO] [int] NULL,
	[ENFERMEDADES_PREEXISTENTES] [nvarchar](max) NULL,
	[LESIONES_ACTUALES] [nvarchar](max) NULL,
	[ALERGIAS] [nvarchar](max) NULL,
	[FUMA] [bit] NOT NULL,
	[BEBE] [bit] NOT NULL,
	[FECHA_ACTUALIZACION] [date] NOT NULL,
	[TIPO_SANGRE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGUIMIENTO_USUARIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGUIMIENTO_USUARIO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FECHA_SEGUIMIENTO] [date] NOT NULL,
	[VIGENTE] [bit] NOT NULL,
	[SEGUIDO_ID] [bigint] NOT NULL,
	[SEGUIDOR_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUEÑO_USUARIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUEÑO_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORAS_DORMIDAS] [float] NULL,
	[CALIDAD_SUEÑO] [nvarchar](20) NULL,
	[DESPERTARES_NOCTURNOS] [int] NULL,
	[PERFIL_ID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIP]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TITULO] [nvarchar](100) NOT NULL,
	[CONTENIDO] [nvarchar](max) NOT NULL,
	[FECHA_CREACION] [datetimeoffset](7) NOT NULL,
	[VIGENTE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_EJERCICIO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_EJERCICIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_OBJETIVO]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_OBJETIVO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_SANGRE]    Script Date: 19-11-2025 23:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_SANGRE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[api_ejercicio_rutinaguardada]  WITH CHECK ADD  CONSTRAINT [api_ejercicio_rutinaguardada_perfil_id_b462a5b4_fk_PERFIL_ID] FOREIGN KEY([perfil_id])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[api_ejercicio_rutinaguardada] CHECK CONSTRAINT [api_ejercicio_rutinaguardada_perfil_id_b462a5b4_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[api_ejercicio_rutinaguardada]  WITH CHECK ADD  CONSTRAINT [api_ejercicio_rutinaguardada_rutina_id_b8631da7_fk_RUTINA_ID] FOREIGN KEY([rutina_id])
REFERENCES [dbo].[RUTINA] ([ID])
GO
ALTER TABLE [dbo].[api_ejercicio_rutinaguardada] CHECK CONSTRAINT [api_ejercicio_rutinaguardada_rutina_id_b8631da7_fk_RUTINA_ID]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[CALENDARIO_RUTINA]  WITH CHECK ADD  CONSTRAINT [CALENDARIO_RUTINA_PERFIL_ID_cfa6bfb0_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[CALENDARIO_RUTINA] CHECK CONSTRAINT [CALENDARIO_RUTINA_PERFIL_ID_cfa6bfb0_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[CALENDARIO_RUTINA]  WITH CHECK ADD  CONSTRAINT [CALENDARIO_RUTINA_RUTINA_ID_6c0121ea_fk_RUTINA_ID] FOREIGN KEY([RUTINA_ID])
REFERENCES [dbo].[RUTINA] ([ID])
GO
ALTER TABLE [dbo].[CALENDARIO_RUTINA] CHECK CONSTRAINT [CALENDARIO_RUTINA_RUTINA_ID_6c0121ea_fk_RUTINA_ID]
GO
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD  CONSTRAINT [COMENTARIO_PERFIL_ID_80135649_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[COMENTARIO] CHECK CONSTRAINT [COMENTARIO_PERFIL_ID_80135649_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD  CONSTRAINT [COMENTARIO_PUBLICACION_ID_554f6a00_fk_PUBLICACION_ID] FOREIGN KEY([PUBLICACION_ID])
REFERENCES [dbo].[PUBLICACION] ([ID])
GO
ALTER TABLE [dbo].[COMENTARIO] CHECK CONSTRAINT [COMENTARIO_PUBLICACION_ID_554f6a00_fk_PUBLICACION_ID]
GO
ALTER TABLE [dbo].[COMENTARIO_REPORTE]  WITH CHECK ADD  CONSTRAINT [COMENTARIO_REPORTE_comentario_id_3b35ef65_fk_COMENTARIO_ID] FOREIGN KEY([comentario_id])
REFERENCES [dbo].[COMENTARIO] ([ID])
GO
ALTER TABLE [dbo].[COMENTARIO_REPORTE] CHECK CONSTRAINT [COMENTARIO_REPORTE_comentario_id_3b35ef65_fk_COMENTARIO_ID]
GO
ALTER TABLE [dbo].[COMENTARIO_REPORTE]  WITH CHECK ADD  CONSTRAINT [COMENTARIO_REPORTE_perfil_id_f631c9a8_fk_PERFIL_ID] FOREIGN KEY([perfil_id])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[COMENTARIO_REPORTE] CHECK CONSTRAINT [COMENTARIO_REPORTE_perfil_id_f631c9a8_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_PERFIL_ID] FOREIGN KEY([user_id])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[EJERCICIO]  WITH CHECK ADD  CONSTRAINT [EJERCICIO_MUSCULO_ID_3fd707e3_fk_MUSCULO_ID] FOREIGN KEY([MUSCULO_ID])
REFERENCES [dbo].[MUSCULO] ([ID])
GO
ALTER TABLE [dbo].[EJERCICIO] CHECK CONSTRAINT [EJERCICIO_MUSCULO_ID_3fd707e3_fk_MUSCULO_ID]
GO
ALTER TABLE [dbo].[EJERCICIO]  WITH CHECK ADD  CONSTRAINT [EJERCICIO_NIVEL_DIFICULTAD_ID_346ea5e0_fk_NIVEL_DIFICULTAD_DIFICULTAD_ID] FOREIGN KEY([NIVEL_DIFICULTAD_ID])
REFERENCES [dbo].[NIVEL_DIFICULTAD] ([DIFICULTAD_ID])
GO
ALTER TABLE [dbo].[EJERCICIO] CHECK CONSTRAINT [EJERCICIO_NIVEL_DIFICULTAD_ID_346ea5e0_fk_NIVEL_DIFICULTAD_DIFICULTAD_ID]
GO
ALTER TABLE [dbo].[EJERCICIO]  WITH CHECK ADD  CONSTRAINT [EJERCICIO_TIPO_EJERCICIO_ID_361f533f_fk_TIPO_EJERCICIO_ID] FOREIGN KEY([TIPO_EJERCICIO_ID])
REFERENCES [dbo].[TIPO_EJERCICIO] ([ID])
GO
ALTER TABLE [dbo].[EJERCICIO] CHECK CONSTRAINT [EJERCICIO_TIPO_EJERCICIO_ID_361f533f_fk_TIPO_EJERCICIO_ID]
GO
ALTER TABLE [dbo].[ESTILO_VIDA_USUARIO]  WITH CHECK ADD  CONSTRAINT [ESTILO_VIDA_USUARIO_PERFIL_ID_7e0e7138_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[ESTILO_VIDA_USUARIO] CHECK CONSTRAINT [ESTILO_VIDA_USUARIO_PERFIL_ID_7e0e7138_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[FAVORITO_PUBLICACION]  WITH CHECK ADD  CONSTRAINT [FAVORITO_PUBLICACION_PERFIL_ID_fa90c179_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[FAVORITO_PUBLICACION] CHECK CONSTRAINT [FAVORITO_PUBLICACION_PERFIL_ID_fa90c179_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[FAVORITO_PUBLICACION]  WITH CHECK ADD  CONSTRAINT [FAVORITO_PUBLICACION_PUBLICACION_ID_d32d58f3_fk_PUBLICACION_ID] FOREIGN KEY([PUBLICACION_ID])
REFERENCES [dbo].[PUBLICACION] ([ID])
GO
ALTER TABLE [dbo].[FAVORITO_PUBLICACION] CHECK CONSTRAINT [FAVORITO_PUBLICACION_PUBLICACION_ID_d32d58f3_fk_PUBLICACION_ID]
GO
ALTER TABLE [dbo].[GRUPO_ENTRENAMIENTO]  WITH CHECK ADD  CONSTRAINT [GRUPO_ENTRENAMIENTO_PERFIL_CREADOR_ID_208119ea_fk_PERFIL_ID] FOREIGN KEY([PERFIL_CREADOR_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[GRUPO_ENTRENAMIENTO] CHECK CONSTRAINT [GRUPO_ENTRENAMIENTO_PERFIL_CREADOR_ID_208119ea_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[GRUPO_MIEMBRO]  WITH CHECK ADD  CONSTRAINT [GRUPO_MIEMBRO_GRUPO_ENTRENAMIENTO_ID_bbf1292e_fk_GRUPO_ENTRENAMIENTO_ID] FOREIGN KEY([GRUPO_ENTRENAMIENTO_ID])
REFERENCES [dbo].[GRUPO_ENTRENAMIENTO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO_MIEMBRO] CHECK CONSTRAINT [GRUPO_MIEMBRO_GRUPO_ENTRENAMIENTO_ID_bbf1292e_fk_GRUPO_ENTRENAMIENTO_ID]
GO
ALTER TABLE [dbo].[GRUPO_MIEMBRO]  WITH CHECK ADD  CONSTRAINT [GRUPO_MIEMBRO_PERFIL_ID_f857296b_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[GRUPO_MIEMBRO] CHECK CONSTRAINT [GRUPO_MIEMBRO_PERFIL_ID_f857296b_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[HISTORIAL_MEDIDAS]  WITH CHECK ADD  CONSTRAINT [HISTORIAL_MEDIDAS_PERFIL_ID_62302b6b_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[HISTORIAL_MEDIDAS] CHECK CONSTRAINT [HISTORIAL_MEDIDAS_PERFIL_ID_62302b6b_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[HISTORIAL_MEDIDAS]  WITH CHECK ADD  CONSTRAINT [HISTORIAL_MEDIDAS_PROGRESO_USUARIO_ID_e2736fa5_fk_PROGRESO_USUARIO_ID] FOREIGN KEY([PROGRESO_USUARIO_ID])
REFERENCES [dbo].[PROGRESO_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[HISTORIAL_MEDIDAS] CHECK CONSTRAINT [HISTORIAL_MEDIDAS_PROGRESO_USUARIO_ID_e2736fa5_fk_PROGRESO_USUARIO_ID]
GO
ALTER TABLE [dbo].[LIKE]  WITH CHECK ADD  CONSTRAINT [LIKE_PERFIL_ID_7237ed6c_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[LIKE] CHECK CONSTRAINT [LIKE_PERFIL_ID_7237ed6c_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[LIKE]  WITH CHECK ADD  CONSTRAINT [LIKE_PUBLICACION_ID_5c372bfa_fk_PUBLICACION_ID] FOREIGN KEY([PUBLICACION_ID])
REFERENCES [dbo].[PUBLICACION] ([ID])
GO
ALTER TABLE [dbo].[LIKE] CHECK CONSTRAINT [LIKE_PUBLICACION_ID_5c372bfa_fk_PUBLICACION_ID]
GO
ALTER TABLE [dbo].[MENSAJE_PRIVADO]  WITH CHECK ADD  CONSTRAINT [MENSAJE_PRIVADO_EMISOR_ID_8456f551_fk_PERFIL_ID] FOREIGN KEY([EMISOR_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[MENSAJE_PRIVADO] CHECK CONSTRAINT [MENSAJE_PRIVADO_EMISOR_ID_8456f551_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[MENSAJE_PRIVADO]  WITH CHECK ADD  CONSTRAINT [MENSAJE_PRIVADO_RECEPTOR_ID_27416151_fk_PERFIL_ID] FOREIGN KEY([RECEPTOR_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[MENSAJE_PRIVADO] CHECK CONSTRAINT [MENSAJE_PRIVADO_RECEPTOR_ID_27416151_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [NOTIFICACION_PERFIL_DESTINO_ID_dd4fa1b6_fk_PERFIL_ID] FOREIGN KEY([PERFIL_DESTINO_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[NOTIFICACION] CHECK CONSTRAINT [NOTIFICACION_PERFIL_DESTINO_ID_dd4fa1b6_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [NOTIFICACION_PERFIL_ORIGEN_ID_a28df660_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ORIGEN_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[NOTIFICACION] CHECK CONSTRAINT [NOTIFICACION_PERFIL_ORIGEN_ID_a28df660_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[NUTRICION_REGISTRO]  WITH CHECK ADD  CONSTRAINT [NUTRICION_REGISTRO_PERFIL_ID_28c5a5be_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[NUTRICION_REGISTRO] CHECK CONSTRAINT [NUTRICION_REGISTRO_PERFIL_ID_28c5a5be_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[OBJETIVO_USUARIO]  WITH CHECK ADD  CONSTRAINT [OBJETIVO_USUARIO_PERFIL_ID_7dcccf84_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[OBJETIVO_USUARIO] CHECK CONSTRAINT [OBJETIVO_USUARIO_PERFIL_ID_7dcccf84_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[OBJETIVO_USUARIO]  WITH CHECK ADD  CONSTRAINT [OBJETIVO_USUARIO_TIPO_OBJETIVO_ID_0d81fe70_fk_TIPO_OBJETIVO_ID] FOREIGN KEY([TIPO_OBJETIVO_ID])
REFERENCES [dbo].[TIPO_OBJETIVO] ([ID])
GO
ALTER TABLE [dbo].[OBJETIVO_USUARIO] CHECK CONSTRAINT [OBJETIVO_USUARIO_TIPO_OBJETIVO_ID_0d81fe70_fk_TIPO_OBJETIVO_ID]
GO
ALTER TABLE [dbo].[OPINION]  WITH CHECK ADD  CONSTRAINT [OPINION_PERFIL_ID_59d0a88b_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[OPINION] CHECK CONSTRAINT [OPINION_PERFIL_ID_59d0a88b_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[PERFIL]  WITH CHECK ADD  CONSTRAINT [PERFIL_SALUD_USUARIO_ID_44a623aa_fk_SALUD_USUARIO_ID] FOREIGN KEY([SALUD_USUARIO_ID])
REFERENCES [dbo].[SALUD_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[PERFIL] CHECK CONSTRAINT [PERFIL_SALUD_USUARIO_ID_44a623aa_fk_SALUD_USUARIO_ID]
GO
ALTER TABLE [dbo].[PERFIL_groups]  WITH CHECK ADD  CONSTRAINT [PERFIL_groups_group_id_d79fc5a7_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[PERFIL_groups] CHECK CONSTRAINT [PERFIL_groups_group_id_d79fc5a7_fk_auth_group_id]
GO
ALTER TABLE [dbo].[PERFIL_groups]  WITH CHECK ADD  CONSTRAINT [PERFIL_groups_perfil_id_d5f23b5b_fk_PERFIL_ID] FOREIGN KEY([perfil_id])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[PERFIL_groups] CHECK CONSTRAINT [PERFIL_groups_perfil_id_d5f23b5b_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[PERFIL_user_permissions]  WITH CHECK ADD  CONSTRAINT [PERFIL_user_permissions_perfil_id_a7ac4379_fk_PERFIL_ID] FOREIGN KEY([perfil_id])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[PERFIL_user_permissions] CHECK CONSTRAINT [PERFIL_user_permissions_perfil_id_a7ac4379_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[PERFIL_user_permissions]  WITH CHECK ADD  CONSTRAINT [PERFIL_user_permissions_permission_id_884d20c6_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[PERFIL_user_permissions] CHECK CONSTRAINT [PERFIL_user_permissions_permission_id_884d20c6_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[PROGRESO_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [PROGRESO_EJERCICIO_EJERCICIO_ID_42811467_fk_EJERCICIO_ID] FOREIGN KEY([EJERCICIO_ID])
REFERENCES [dbo].[EJERCICIO] ([ID])
GO
ALTER TABLE [dbo].[PROGRESO_EJERCICIO] CHECK CONSTRAINT [PROGRESO_EJERCICIO_EJERCICIO_ID_42811467_fk_EJERCICIO_ID]
GO
ALTER TABLE [dbo].[PROGRESO_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [PROGRESO_EJERCICIO_PERFIL_ID_74c8e0a4_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[PROGRESO_EJERCICIO] CHECK CONSTRAINT [PROGRESO_EJERCICIO_PERFIL_ID_74c8e0a4_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[PROGRESO_USUARIO]  WITH CHECK ADD  CONSTRAINT [PROGRESO_USUARIO_PERFIL_ID_a0aa177c_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[PROGRESO_USUARIO] CHECK CONSTRAINT [PROGRESO_USUARIO_PERFIL_ID_a0aa177c_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [PUBLICACION_PERFIL_ID_56f3d91c_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [PUBLICACION_PERFIL_ID_56f3d91c_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[RECOMENDACION_IA]  WITH CHECK ADD  CONSTRAINT [RECOMENDACION_IA_PERFIL_ID_1f178178_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[RECOMENDACION_IA] CHECK CONSTRAINT [RECOMENDACION_IA_PERFIL_ID_1f178178_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[RUTINA]  WITH CHECK ADD  CONSTRAINT [RUTINA_NIVEL_DIFICULTAD_DIFICULTAD_ID_b513752a_fk_NIVEL_DIFICULTAD_DIFICULTAD_ID] FOREIGN KEY([NIVEL_DIFICULTAD_DIFICULTAD_ID])
REFERENCES [dbo].[NIVEL_DIFICULTAD] ([DIFICULTAD_ID])
GO
ALTER TABLE [dbo].[RUTINA] CHECK CONSTRAINT [RUTINA_NIVEL_DIFICULTAD_DIFICULTAD_ID_b513752a_fk_NIVEL_DIFICULTAD_DIFICULTAD_ID]
GO
ALTER TABLE [dbo].[RUTINA]  WITH CHECK ADD  CONSTRAINT [RUTINA_PERFIL_ID_ebdd5900_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[RUTINA] CHECK CONSTRAINT [RUTINA_PERFIL_ID_ebdd5900_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [RUTINA_EJERCICIO_EJERCICIO_ID_700731aa_fk_EJERCICIO_ID] FOREIGN KEY([EJERCICIO_ID])
REFERENCES [dbo].[EJERCICIO] ([ID])
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [RUTINA_EJERCICIO_EJERCICIO_ID_700731aa_fk_EJERCICIO_ID]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [RUTINA_EJERCICIO_RUTINA_ID_a1542a45_fk_RUTINA_ID] FOREIGN KEY([RUTINA_ID])
REFERENCES [dbo].[RUTINA] ([ID])
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [RUTINA_EJERCICIO_RUTINA_ID_a1542a45_fk_RUTINA_ID]
GO
ALTER TABLE [dbo].[SALUD_USUARIO]  WITH CHECK ADD  CONSTRAINT [SALUD_USUARIO_TIPO_SANGRE_ID_164fd74a_fk_TIPO_SANGRE_ID] FOREIGN KEY([TIPO_SANGRE_ID])
REFERENCES [dbo].[TIPO_SANGRE] ([ID])
GO
ALTER TABLE [dbo].[SALUD_USUARIO] CHECK CONSTRAINT [SALUD_USUARIO_TIPO_SANGRE_ID_164fd74a_fk_TIPO_SANGRE_ID]
GO
ALTER TABLE [dbo].[SEGUIMIENTO_USUARIO]  WITH CHECK ADD  CONSTRAINT [SEGUIMIENTO_USUARIO_SEGUIDO_ID_c68a4dc0_fk_PERFIL_ID] FOREIGN KEY([SEGUIDO_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[SEGUIMIENTO_USUARIO] CHECK CONSTRAINT [SEGUIMIENTO_USUARIO_SEGUIDO_ID_c68a4dc0_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[SEGUIMIENTO_USUARIO]  WITH CHECK ADD  CONSTRAINT [SEGUIMIENTO_USUARIO_SEGUIDOR_ID_24a408ca_fk_PERFIL_ID] FOREIGN KEY([SEGUIDOR_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[SEGUIMIENTO_USUARIO] CHECK CONSTRAINT [SEGUIMIENTO_USUARIO_SEGUIDOR_ID_24a408ca_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[SUEÑO_USUARIO]  WITH CHECK ADD  CONSTRAINT [SUEÑO_USUARIO_PERFIL_ID_dfd1023e_fk_PERFIL_ID] FOREIGN KEY([PERFIL_ID])
REFERENCES [dbo].[PERFIL] ([ID])
GO
ALTER TABLE [dbo].[SUEÑO_USUARIO] CHECK CONSTRAINT [SUEÑO_USUARIO_PERFIL_ID_dfd1023e_fk_PERFIL_ID]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
ALTER TABLE [dbo].[PROGRESO_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [PROGRESO_EJERCICIO_REPETICIONES_REALIZADAS_06861e40_check] CHECK  (([REPETICIONES_REALIZADAS]>=(0)))
GO
ALTER TABLE [dbo].[PROGRESO_EJERCICIO] CHECK CONSTRAINT [PROGRESO_EJERCICIO_REPETICIONES_REALIZADAS_06861e40_check]
GO
ALTER TABLE [dbo].[RECOMENDACION_IA]  WITH CHECK ADD  CONSTRAINT [RECOMENDACION_IA_EJERCICIOS_560b566e_check] CHECK  ((isjson([EJERCICIOS])=(1)))
GO
ALTER TABLE [dbo].[RECOMENDACION_IA] CHECK CONSTRAINT [RECOMENDACION_IA_EJERCICIOS_560b566e_check]
GO
ALTER TABLE [dbo].[RECOMENDACION_IA]  WITH CHECK ADD  CONSTRAINT [RECOMENDACION_IA_PARAMETROS_ENTRADA_4782e585_check] CHECK  ((isjson([PARAMETROS_ENTRADA])=(1)))
GO
ALTER TABLE [dbo].[RECOMENDACION_IA] CHECK CONSTRAINT [RECOMENDACION_IA_PARAMETROS_ENTRADA_4782e585_check]
GO
ALTER TABLE [dbo].[RECOMENDACION_IA]  WITH CHECK ADD  CONSTRAINT [RECOMENDACION_IA_TOP3_RECOMENDACIONES_55729472_check] CHECK  ((isjson([TOP3_RECOMENDACIONES])=(1)))
GO
ALTER TABLE [dbo].[RECOMENDACION_IA] CHECK CONSTRAINT [RECOMENDACION_IA_TOP3_RECOMENDACIONES_55729472_check]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [RUTINA_EJERCICIO_ORDEN_31183a3a_check] CHECK  (([ORDEN]>=(0)))
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [RUTINA_EJERCICIO_ORDEN_31183a3a_check]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [RUTINA_EJERCICIO_REPETICIONES_9d5088c9_check] CHECK  (([REPETICIONES]>=(0)))
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [RUTINA_EJERCICIO_REPETICIONES_9d5088c9_check]
GO
ALTER TABLE [dbo].[SALUD_USUARIO]  WITH CHECK ADD  CONSTRAINT [SALUD_USUARIO_FRECUENCIA_CARDIACA_REPOSO_7bc8edee_check] CHECK  (([FRECUENCIA_CARDIACA_REPOSO]>=(0)))
GO
ALTER TABLE [dbo].[SALUD_USUARIO] CHECK CONSTRAINT [SALUD_USUARIO_FRECUENCIA_CARDIACA_REPOSO_7bc8edee_check]
GO
ALTER TABLE [dbo].[SUEÑO_USUARIO]  WITH CHECK ADD  CONSTRAINT [SUEÑO_USUARIO_DESPERTARES_NOCTURNOS_9253dedc_check] CHECK  (([DESPERTARES_NOCTURNOS]>=(0)))
GO
ALTER TABLE [dbo].[SUEÑO_USUARIO] CHECK CONSTRAINT [SUEÑO_USUARIO_DESPERTARES_NOCTURNOS_9253dedc_check]
GO
